.upper {
    background-color: 50,0,250;
    background-image: url(../img/pattern.png);
}

.evidenziato {
    background-color: yellow;
}

.immagine1 {
    background-image: url(../img/graph.jpg);
}

.immagine2 {
    background-image: url(../img/monitor.jpg);
}

.sfondoblu {
    background-color: cornflowerblue;
    text-align: left;
}

.softblu {
    background-color: aqua;
}