.upper {
    background-color: 50,0,250;
    background-image: C:\Users\leona\OneDrive\Documenti\Boolean\Nuova cartella\html-css-booleaner\img\pattern.png;
}

.evidenziato {
    background-color: yellow;
}

.immagine1 {
    background-image: url(../graph.jpg);
}

.immagine2 {
    background-image: url(../monitor.jpg);
}

.sfondoblu {
    background-color: cornflowerblue;
    text-align: left;
}

.softblu {
    background-color: aqua;
}