.upper {
    background-color: 50,0,250;
    background-image: img/pattern.png;
}

.evidenziato {
    background-color: yellow;
}

.immagine1 {
    background-image: img/monitor.jpg;
}

.immagine2 {
    background-image: img/graph.jpg;
}